.top-nav {
  height: 80vh;
  background: linear-gradient(
    180deg,
    hsl(194, 57%, 59%) 0%,
    rgba(89, 181, 210, 0) 100%
  );
  background: url(./assets/cover_3.jpg) no-repeat center center;
  /* line 4 added another center (one each for vertically and horizontally)for as if 
  the image size is not proportionate to the div size then it will either match the 
  hight and distort the width or it will match the width and distort the height */
  background-size: cover;
}

a.nav-link {
  font-weight: bold;
  color: white !important;
  letter-spacing: 0.1em;
}
a.nav-link:hover {
  color: white !important;
  /* cursor: pointer !important; */
}

.hero {
  color: white;
  font-size: 3rem;
}

.sec-title {
  text-align: center;
  font-size: 3rem;
  margin-top: 3rem;
}

/* titles */
.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
}
.title span {
  padding: 0.5rem 2rem;
  border: bottom 0.4rem solid green;
  margin-bottom: 3rem;
}

.sec-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  font-size: 2rem;
  /* margin-top: 3rem; */
}

.Projects {
  background: crimson;
  color: white;
}

footer {
  position: relative;
}

.up {
  position: absolute;
  right: 10px;
  top: -20px;
  width: 50px;
  height: 50px;
  background: white;
  color: black;
  font-style: 2rem;
  border: black solid 1px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* icons */
.icons i {
  font-size: 5rem;
}

.icons > div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* projects section */
.projects {
  background: green;
}
.projects .row {
  --bs-gutter-x: 0;
}
.c-p {
}
